<h1>All Events</h1>

<%= link_to "New Event", new_event_path %>

<table>
  <thead>
    <tr>
      <th> Description </th>
      <th> Location </th>
      <th> Capacity </th>
      <th> Date </th>
      <th> Requires ID </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.description, event_path(event) %>
        </td>
        <td>
          <%= event.location %>
        </td>
        <td>
          <%= event.capacity %>
        </td>
        <td>
          <%= event.date %>
        </td>
        <td>
          <%= event.requires_id %>
        </td>
        <td>
          <%= link_to "edit", edit_event_path(event) %> |
          <%= link_to "delete", event_path(event), method: :delete, data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
